# Part 1

# Compiled files
part1/bin/

# Lexer java file
part1/src/Lexer.java

# Parser java file
part1/src/Parser.java
part1/src/sym.java

# Test Result file
part1/result.csv

# Part 2
part2/test-reports

# bytecode files
*.class

# Vim files
*~
*.swp


